<p-toast position="top-center"></p-toast>
<div class="daily-wrapper d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-between h-75" style="width: 40%;">
        <div class="d-flex flex-row justify-content-between" *ngFor="let word of wordMatrix; let i=index">
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[0].value" #currentInput0 (keydown)="onInputChange(i,0,$event)"
                (appWordle)="bindInputToMatrix(currentInput0 , word[0])"
                 />
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[1].value" #currentInput1 (keydown)="onInputChange(i,1,$event)"
                (appWordle)="bindInputToMatrix(currentInput1 , word[1])"
                 />
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[2].value" #currentInput2 (keydown)="onInputChange(i,2,$event)"
                (appWordle)="bindInputToMatrix(currentInput2 , word[2])"
                 />
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[3].value" #currentInput3 (keydown)="onInputChange(i,3,$event)"
                (appWordle)="bindInputToMatrix(currentInput3 , word[3])"
                 />
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[4].value" #currentInput4 (keydown)="onInputChange(i,4,$event)"
                (appWordle)="bindInputToMatrix(currentInput4 , word[4])"
                 (keydown.enter)="checkIfWordleSolved(word,i)" />
        </div>
    </div>
</div>