<div class="daily-wrapper d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-between h-75" style="width: 40%;">
        <div class="d-flex flex-row justify-content-between" *ngFor="let word of wordMatrix; let i=index">
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[0]" #currentInput0 (input)="test(currentInput0)"/>
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[1]" #currentInput1 (input)="test(currentInput1)" />
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[2]" #currentInput2 (input)="test(currentInput2)"/>
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"
                style="text-transform:uppercase" [(ngModel)]="word[3]" #currentInput3 (input)="test(currentInput3)"/>
            <input type="text" class="p-inputtext-sm letter-input" pInputText maxlength="1"           style="text-transform:uppercase" [(ngModel)]="word[4]" #currentInput4 (input)="test(currentInput4)" (keydown.enter)="checkIfWordleSolved(word)"/>
        </div>
    </div>
</div>