<div class="daily-wrapper d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-between h-75" style="width: 40%;">
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
            <input type="text" class="p-inputtext-sm letter-input" pInputText />
        </div>
    </div>
</div>