<p-toast position="top-center"></p-toast>
<loader></loader>
<div
  class="header-wrapper d-flex flex-row justify-content-between align-items-center"
  style="color: white"
>
  <div class="order-1" style="width: 33%"></div>
  <div
    class="order-2 d-flex justify-content-center align-items-center"
    style="width: 33%"
  >
    <!-- <h1 class="text-center">WORDLE</h1>
     -->
    <img src="assets/Logo/LogoFinal.jpg" alt="Image" class="logo" />
  </div>
  <div
    class="d-flex justify-content-end align-items-center order-3"
    style="width: 33%"
    [class.display-hidden]="name?.length! <= 0"
  >
    <div class="mr-4" (click)="onShowStatsClick()">
      <span
        class="material-symbols-outlined stats-icon"
        pTooltip="Stats"
        tooltipPosition="bottom"
      >
        leaderboard
      </span>
    </div>
    <div class="mr-4">
      <ngx-avatars
        [name]="name"
        [style]="customStyles"
        size="40"
        (click)="menu.toggle($event)"
      ></ngx-avatars>
      <p-overlayPanel #menu class="overlay">
        <div class="menu">
          <h3>{{ name }}</h3>
          <h6>{{email}}</h6>
          <ul>
            <li>
              <a (click)="showModal = true"
                ><span class="material-symbols-outlined"> bug_report </span
                >Report a bug</a
              >
            </li>
            <li>
              <a (click)="onLogoutClick()"
                ><span class="material-symbols-outlined logout-icon">
                  logout </span
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </p-overlayPanel>
    </div>
  </div>
</div>
<p-dialog
  header="Report Bug"
  [(visible)]="showModal"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [draggable]="false"
  [resizable]="false">
  <form [formGroup]="reportBugForm" (ngSubmit)="onUploadBugClick()">
    <div>
      <label for="email1" class="block text-900 font-medium mb-2"
        >Bug Description</label
      >
      <textarea
      pInputTextarea
        formControlName="description"
        id="description"
        type="text"
        placeholder="Enter description of bug"
        pInputText
        class="w-full mb-3 ng-invalid ng-dirty"
        [ngClass]="{
          'ng-invalid': !this.reportBugForm.controls['description'].value.length,
          'ng-dirty': !this.reportBugForm.controls['description'].value.length
        }"
      ></textarea>
      <small *ngIf="!this.reportBugForm.controls['description'].value.length" id="username2-help" class="p-error block"
        >Required Field!</small
      >

      <label for="password1" class="block text-900 font-medium mb-2"
        >Upload File (Optional)</label
      >
      <input
        id="file"
        type="file"
        placeholder="Upload File"
        class="w-full mb-3"
        accept="image/*"
        (change)="onFileUploadChange($event)"
      />


      <button
        [disabled]="!this.reportBugForm.valid"
        pButton
        pRipple
        label="Report Bug"
        icon="pi pi-user"
        class="w-full"
      ></button>
    </div>
  </form>
</p-dialog>