.header-wrapper {
  // background-color: gray;
  // width           : 99vw;
  height: 9vh;
  // border: 1px solid white;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  cursor: pointer;
}
.stats-icon {
  font-size: 40px;
  margin-top: 20%;
}
.overlay {
  width: "15rem";
  background-color: #3b4f65;
}
.logo{
  width: 80%;
  height: 4rem;
}
