<div class="d-flex justify-content-between flex-column h-100">
  <div
    class="d-flex justify-content-center align-items-center"
    *ngIf="showAnswerWord"
  >
    <div class="d-flex justify-content-evenly mt-4">
      <div class="letters">{{ answerWord[0] }}</div>
      <div class="letters">{{ answerWord[1] }}</div>
      <div class="letters">{{ answerWord[2] }}</div>
      <div class="letters">{{ answerWord[3] }}</div>
      <div class="letters">{{ answerWord[4] }}</div>
    </div>
  </div>
  <div *ngIf="gameType === 'BOTH'">
    <p-tabMenu
      [model]="tabs"
      [activeItem]="tabs[0]"
      class="d-flex justify-content-center align-items-center"
    ></p-tabMenu>
  </div>
  <div class="d-flex justify-content-between " [ngClass]="{'flex-column align-items-center' : isMobileScreen()}">
    <div class="stats w-50 mt-5">
      <h3 class="text-center m-4">Statistics</h3>
      <div class="d-flex align-items-center justify-content-center">
        <table class="table table-dark table-striped">
          <tr>
            <th>Played</th>
            <td>{{ userStats?.played ?? 0 }}</td>
          </tr>
          <tr>
            <th>Win %</th>
            <td>{{ userStats?.percentageWins ?? 0 }}</td>
          </tr>
          <tr>
            <th>Current Streak</th>
            <td>{{ userStats?.currentStreak ?? 0 }}</td>
          </tr>
          <tr>
            <th>Max Streak</th>
            <td>{{ userStats?.maxStreak ?? 0 }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="distribution w-100">
      <h3 class="text-center m4">Guess Distribution</h3>
      <div
        class="distribution d-flex justify-content-center align-items-center"
      >
        <p-chart
          type="doughnut"
          [data]="pieData"
          [options]="pieOptions"
          [style]="{ width: '300px' }"
        ></p-chart>
      </div>
    </div>
  </div>
  <div *ngIf="showFooter">
    <p class="text-center" *ngIf="gameType === 'DAILY'">
      New Wordle will appear in
      <strong *ngIf="hoursUntilNewWordle > 0"
        >{{ hoursUntilNewWordle }} hour(s) ,
      </strong>
      <strong>{{ minutesUntilNewWordle }} minute(s)</strong>
    </p>
    <div class="d-flex justify-content-between mt-4">
      <button
        pButton
        icon="pi pi-refresh"
        iconPos="right"
        (click)="navigateToRandomGames()"
      >
        Play Random Wordle
      </button>
      <p-divider layout="vertical"></p-divider>
      <button
        pButton
        icon="pi pi-times"
        iconPos="right"
        (click)="onCloseClick()"
      >
        Close
      </button>
    </div>
  </div>
</div>
