.letters{
    border          : 1px solid black;
    padding         : 1rem 2rem;
    font-size       : 2rem;
    background-color: white;
    color           : black;
}
.stats{
    font-weight: 700;
}