.play-wrapper{
    background-color: black;
    height:100vh;
    width:100vw;
}

.play-options{
    width: 50%;
    margin-left: 1%;
    // margin-left: 10%;
}

.option-1 ::ng-deep .p-card {
    margin-left: 10%;
    border: 1px solid white;
    text-align: center;
    height: 60vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option-2 ::ng-deep .p-card {
    margin-right: 10%;
    border: 1px solid white;
    text-align: center;
    height: 60vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardz-footer{
    visibility: hidden;
    position: relative;
  bottom: 50px;
  left: 0;
  width: 90%;
  height: 10vh;
  border-radius: 8px;
  color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  background-color: inherit;
}
.cardz:hover .cardz-footer {
    visibility: visible;
    transform: translateY(0);
  }
