<div class="d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-evenly mt-4">
    <div class="letters">{{ answerWord[0] }}</div>
    <div class="letters">{{ answerWord[1] }}</div>
    <div class="letters">{{ answerWord[2] }}</div>
    <div class="letters">{{ answerWord[3] }}</div>
    <div class="letters">{{ answerWord[4] }}</div>
  </div>
</div>
<div class="d-flex justify-content-between mt-6">
    <div class="stats w-50 mt-5">
      <h3 class="text-center m-4">Statistics</h3>
      <div class="d-flex align-items-center justify-content-center">
        <table class="table table-dark table-striped">
          <tr>
            <th>Played</th>
            <td>{{userData.played}}</td>
          </tr>
          <tr>
            <th>Win %</th>
            <td>{{userData.percentageWins}}</td>
          </tr>
          <tr>
            <th>Current Streak</th>
            <td>{{userData.currentStreak}}</td>
          </tr>
          <tr>
            <th>Max Streak</th>
            <td>{{userData.maxStreak}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="distribution w-100">
      <h3 class="text-center m4">Guess Distribution</h3>
      <div class="distribution d-flex justify-content-center align-items-center">
        <p-chart
          type="doughnut"
          [data]="pieData"
          [options]="pieOptions"
          [style]="{ width: '300px' }"
        ></p-chart>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="text-center" *ngIf="gameType === 'DAILY'">
      New Wordle will appear in
      <strong *ngIf="hoursUntilNewWordle > 0"
        >{{ hoursUntilNewWordle }} hour(s) ,
      </strong>
      <strong>{{ minutesUntilNewWordle }} minute(s)</strong>
    </p>
    <div class="d-flex justify-content-between mt-4">
      <button pButton icon="pi pi-refresh" iconPos="right" (click)="navigateToRandomGames()">
        Play Random Wordle
      </button>
      <p-divider layout="vertical"></p-divider>
      <button pButton icon="pi pi-times" iconPos="right" (click)="onCloseClick()">
        Close
      </button>
    </div>
  </div>
  