<loader></loader>
<header></header>
<p-toast position="top-center"></p-toast>
<div
  class="d-flex justify-content-center align-items-center"
  style="height: 90vh; background-color: black"
  >
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Sign Up!</div>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
      <div>
        <label for="name1" class="block text-900 font-medium mb-2"
          >Name</label
          >
          <input
            formControlName="name"
            id="name1"
            type="text"
            placeholder="Name"
            pInputText
            class="w-full mb-3"
          [ngClass]="{
            'ng-invalid': isNameValid(),
            'ng-dirty': isNameValid()
          }"
            />
          @if (isNameValid()) {
            <small class="p-error block"
              >Name must be atmost 20 letters</small
              >
            }
            <label for="email1" class="block text-900 font-medium mb-2"
              >Email</label
              >
              <input
                formControlName="email"
                id="email1"
                type="text"
                placeholder="Email address"
                pInputText
                class="w-full mb-3"
          [ngClass]="{
            'ng-invalid': isEmailValid(),
            'ng-dirty': isEmailValid()
          }"
                />
              @if (isEmailValid()) {
                <small class="p-error block"
                  >Enter a valid Email Address</small
                  >
                }
                <label for="password1" class="block text-900 font-medium mb-2"
                  >Password</label
                  >
                  <input
                    formControlName="password"
                    id="password1"
                    type="password"
                    placeholder="Password"
                    pInputText
                    class="w-full mb-3"
          [ngClass]="{
            'ng-invalid': isPasswordValid(),
            'ng-dirty': isPasswordValid()
          }"
                    (input)="onPasswordFieldChange($event)"
                    />
                  @if (isPasswordValid()) {
                    <small class="p-error block"
                      >Password must contain one upper case letter , one small case letter ,
                      one number and length must be atleast 6</small
                      >
                    }
                    <label for="password2" class="block text-900 font-medium mb-2"
                      >Confirm Password</label
                      >
                      <input
                        formControlName="confirmPassword"
                        id="password2"
                        type="password"
                        placeholder="Confirm Password"
                        pInputText
                        class="w-full mb-3"
          [ngClass]="{
            'ng-invalid': isConfirmPasswordValid(),
            'ng-dirty': isConfirmPasswordValid()
          }"
                        />
                      @if (isConfirmPasswordValid()) {
                        <small class="p-error block"
                          >Passwords do not match</small
                          >
                        }
                        <button
                          [disabled]="isFormDisabled()"
                          pButton
                          pRipple
                          label="Sign Up"
                          icon="pi pi-user"
                          class="w-full"
                        ></button>
                      </div>
                    </form>
                  </div>
                </div>
